[submodule "ext/glfw"]
	path = ext/glfw
	url = https://github.com/glfw/glfw.git
[submodule "ext/glm"]
	path = ext/glm
	url = https://github.com/g-truc/glm.git
[submodule "ext/shaderdirect"]
	path = ext/shaderdirect
	url = https://github.com/abkour/shaderdirect.git
[submodule "shaderdirect"]
	path = shaderdirect
	url = https://github.com/abkour/shaderdirect.git
